.label {
  color: #555;
  font-size: 16px;
  text-transform: uppercase;
}

html, body, #root, .app, .game {
  font: bold 16px 'Helvetica';

  margin:0;
  padding:0;

  width:100%;
  height:100%;
}
.app {
  display: flex;
  flex-direction: column;
}
.player {
  margin:2px;
  
  width:30px;
  height:30px;
}
.player img.player-avatar {
  border: solid 1px #ccc;
  border-radius:100%;

  width:100%;
  height:100%;
}
  .player-details {
    display: none;
  }
.current-user {
  /* background:#f00 */
  margin-left:20px;
}
  .current-user img.player-avatar {
    border: solid 2px #ffb74d;
    box-sizing: border-box
  }


.game {
  display: flex;
  /* grid-template-areas: 
    "header header"
    "current-question current-hand"; */
  /* grid-template-columns: 290px 1fr; */
  /* grid-template-rows: 40px 1fr; */
}
header {
  background:#212121;
  color:#fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 10px;
  height:40px;
}
  .logo {
    flex-grow: 2;
  }
  .party {
    display:flex;
  }
.current-question {
  display:flex;
  flex-direction: column;
  align-content: center;
  /* justify-content: center; */
  align-items: center;
  padding-top:20px;
  background: #f5f5f5;
}
  .submit-answer {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 9px;
    margin-top:20px;
    padding: 20px;
    width:180px;
    height:50px;
  }
  .selected-status {
    font-size: 12px;
  }
  .submit-answer-label {
    color:#f5f5f5;
  }
  .submit-answer-invalid {
    background: #d32f2f;
  }
    .submit-answer-invalid .selected-status {
      color: #ffcdd2;
    }
  .submit-answer-valid {
    background: #4caf50;
  }
    .submit-answer-valid .selected-status {
      color: #c8e6c9;
    }
.current-hand {
  background:#e0e0e0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  overflow-y: scroll;

  /* justify-content: space-evenly; */
  /* justify-content: flex-end; */
}
  .card {
    border:solid 1px #bbb;
    border-radius: 9px;
    font: bold 18px "Helvetica";

    display:flex;
    flex-direction: column;
    justify-content: space-between;

    margin:10px;
    padding:20px 20px;
    
    width:180px;
    height:200px;
  }
    .card-question {
      background:#212121;
      color:#fafafa;
    }
    .card-answer {
      background:#fafafa;
      color:#212121;
    }
    .card-answer:hover {
      border-color: #777;
      cursor: pointer;
    }
    .card-selected {
      border-color:#4caf50;
      box-shadow: inset 0 0 10px #4caf50;
    }
    .card .checkbox {
      align-self: center;
      color:#4caf50;
    }


.lobby {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  justify-items: center;

  /* background:#f5f5f5; */
  color:#000;
  /* background:#424242; */
  /* color:#ffffff; */

  width:100%;
  height:100%;
}
  .lobby-header {
    font-size:36px;
    align-self:center;
  }
  .lobby-footer {
    align-self: end;
    margin-bottom: 10px;
    
    color:#777;
    font-size:12px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .login {
    display: flex;
    flex-direction: column;
  }
    .login-label, .current-party-label {
      /* margin-bottom: 10px; */
    }

  .current-party {
    display:grid;
    /* flex-direction: column; */
    grid-template-rows: 25px 200px 160px;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
    .current-party-members {
      display:flex;
    }
    .current-party-member {
      display:flex;
      flex-direction: column;
      align-items: center;
    }

    .start-game {
      display:flex;
      justify-content: center;
      align-items: center;

      background: #4caf50;
      color:#e8f5e9;
      cursor: pointer;
      font-size:20px;
      border-radius: 9px;
      padding: 20px;
      width:180px;
      height:50px;
    }
    .start-game:hover {
      background:#43a047;
    }      
